/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #178CD3;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .controls {
	top: 0
}
.reveal .progress {
	background: white;
	height: 5px;
}
.reveal ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5vh;
}
.reveal ul li {
  list-style: none;
  min-width: 50%;
  padding: 2vh 0;
  text-align: center;
}
.reveal footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	background-color: #178CD3;
	display: inline-block;
	padding: 0.5vh 2vh;
	box-sizing: border-box;
	display: flex;
	font-size: 0.4em;
	> span {
		text-align: right;
		color: white;
		margin-left: 2em;
		line-height: 2em;
	}
	> .title {
		flex-grow: 1;
		text-align: center;
	}
	> .logo {
		text-align: left;
		height: 2em;
		padding: 0.5vh;
		box-sizing: border-box;
		svg {
			height: 100%;
			width: auto;
		}
	}
}
.reveal section .box {
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
	display: inline-block;
	padding: 3vh;
	margin: 2vh;
	.title {
		margin-bottom: 2vh;
	}
	img {
		border: none;
		box-shadow: none;
		height: 8vh;
	}
}
.reveal section img.box {
	padding: 0;
	border: none;
	height: 22vw;
	&.big {
		height: 30vw;
	}
}
